@import '../../scss/global';

.companyform {
  width: 320px;
  height: 580px;
  background-color: $brown;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-form {
    &_dataForm{
      height: 300px;
    }

    &_title {
      margin: 20px 0;
      font-size: 20px;
      text-transform: uppercase;
    }

    &_input {
      width: 220px;
      border: none;
      border-radius: 5px;
      height: 60px;
      margin: 5px 0;
      padding-left: 10px;
      background-color: $grey-dark;
      color: $bone-white;
      font-size: 16px;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }

    &_btnSubmit {
      width: 150px;
      height: 40px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      background-color: $orange;
      color: $bone-white;
      font-size: 17px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      cursor: pointer;
    }

    &_btnSubmit:hover {
      background-color: $orange-hover;
    }
  }
}
