//primary
$blue-dark: rgb(36, 55, 99);
$orange: rgb(255, 110, 49);
$orange-hover: rgb(202, 87, 38);
$vanilla: rgb(255, 235, 183);
$brown: rgb(173, 142, 112);
$red: rgba(226, 28, 52, 1);
$red-hover: rgba(80, 11, 40, 1);


//background
$dark: rgb(34, 40, 49);
$grey-dark: rgb(57, 62, 70);
$cian: rgb(0, 173, 181);
$cian-hover: rgb(3, 139, 146);
$bone-white: rgb(238, 238, 238);
